/* Color 
Primer #275996
On Primer #E6EDF3
Cont. Primer #B5D7F2
Cont. On Primer #274696
Tertier #F9C717
On Tertier #274696
*/

* {
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Rubik', sans-serif;
}

/* Jumbotron */
.jumbotron {
  background-color: #275996;
  height: 140vh;
  color: #E6EDF3;
  justify-content: center;
  justify-items: center;
  padding: 0 16px;
}

/* Nav */
.menu {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.menu img {
  width: 200px;
  margin-top: -20px;
}

.menu .menubar ul {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F9C717;
  transform: translateY(-100%);
  transition: all 1s;
  opacity: 1;
}

.menu ul.slide {
  opacity: 1;
  transform: translateY(0);
}

.menubar li {
  list-style: none;
  margin: 0 16px;
}

.menubar a{
  text-decoration: none;
  color: #275996;
  font-weight: 500;
}

.menubar .button {
  color: #E6EDF3;
  font-size: 18px;
  background-color: #275996;
  font-weight: 400;
}

/* Hamburger Menu */
.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  border: 1px solid white;
  padding: 7px;
  border-radius: 5px;
  margin-top: -12px;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -4px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 100% 100%;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 100% 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(-45deg) translate(-2px, -3px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0)
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(45deg) translate(-3px, 5px);
}


.header {
  display: grid;
  grid-template-areas: 
    'image'
    'content'
    ;
  margin-top: -80px;
  justify-items: center;
}

/* .header {
  display: flex;
} */

.heroContent {
  grid-area: content;
  margin-top: -30px;
}

.heroContent h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.heroContent h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.heroImage {
  grid-area: image;
  margin-top: -110px;
  text-align: center;
}

.heroImage img {
  width: 90%;
}

/* Services */
.services {
  font-size: 24px;
  display: grid;
  justify-items: center;
  justify-content: center;
  margin-top: -220px;
  z-index: 2;
}

.services h2 {
  font-size: 24px;
  color: #E6EDF3;
  margin-bottom: 30px;
}

.servicesContent {
  color: #274696;
  display: grid;
  grid-template-areas: 
  'service1'
  'service2'
  'service3';
  background-color: #F9C717;
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);

}

.servicesContent img {
  width: 130px;
  margin-right: 16px;
}

.servicesContent div {
  margin: 16px;
  align-items: center;
}

.servicesContent h5 {
  font-size: 18px;
}

.service1 {
  display: flex;
  grid-area: service1;
}

.service2 {
  display: flex;
  grid-area: service2;
}

.service3 {
  display: flex;
  grid-area: service3;
}

/* Portfolio */
.portfolio {
  background-color: #d3ebff;
  justify-items: center;
  justify-content: center;
  display: grid;
  padding-top: 460px;
  margin-top: -360px;
  padding-bottom: 150px;
}

.portfolio h2 {
  font-size: 24px;
  color: #274696;
  margin-bottom: 30px;
}

.portfolioContent {
  display: grid;
  grid-template-areas: 
    'card1'
    'card2'
    'card3';
  margin: 0 16px;
  gap: 24px;
  margin-bottom: 26px;
}

.card {
  background-color: #275996;
  color: #E6EDF3;
  font-weight: lighter;
  border-radius: 10px;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.card1 {
  grid-area: card1;
}

.card1 .image {
  background-image: url(img/financial.jpg);
  background-size: cover;
}

.card2 {
  grid-area: card2;
}

.card2 .image {
  background-image: url(img/course.jpg);
  background-size: cover;
}

.card3 {
  grid-area: card3;
}

.card3 .image {
  background-image: url(img/ecommerce.jpg);
  background-size: cover;
}

.card .top {
  display: flex;
  padding: 16px;
  align-items: center;
}

.top .photo {
  background-color: grey;
  color: grey;
  text-align: center;
  grid-area: photo;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 32px;
}

.topText h4 {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
}

.topText h5 {
  font-weight: lighter;
}

.card .image {
  background-color: grey;
  color: grey;
  height: 200px;
}

.card .bottom {
  padding: 16px;
  font-size: 12px;
}

.bottom p {
  font-weight: lighter;
  margin-bottom: 24px;
}

.bottom a {
  color: #F9C717;
}

/* CTA */
.CTA {
  display: grid;
  place-content: center;
  z-index: 2;
}

.CTAContent {
  display: flex;
  flex-direction: column;
  background-color: #F9C717;
  padding: 24px 16px 35px 16px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: -60px;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.CTA h2 {
  width: 200px;
  font-size: 16px;
  color: #275996;
  margin-bottom: 25px;
  line-height: 24px;
}

.CTA .button {
  background-color: #275996;
  color: #E6EDF3;
  font-size: 14px;
  font-weight: 400;
}

/* Footer */
.footer {
  display: grid;
  justify-items: center;
  text-align: center;
  background-color: #275996;
  margin-top: -115px;
  color: #E6EDF3;
}

.footer ul li {
  display: inline-block;
}

.footer .shortcut {
  margin-top: 150px;
}

.footer .shortcut a {
  text-decoration: none;
  font-size: 12px;
  color: #E6EDF3;
  margin: 0 16px;
  font-weight: 500;
}

.footer .socMedia img {
  width: 30px;
  margin: 4px;
  margin-top: 24px;
}

.footer p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 18px;
}

.footer hr {
  color: #E6EDF3;
  width: 83%;
}

.footer .copyright {
  font-size: 8px;
  padding: 8px;
  font-weight: 400;
}

/* Utility */
.button {
  font-size: 14px;
  text-decoration: none;
  background-color: #F9C717;
  color: #274696;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 600;
}


/* DESKTOP VERSION */
@media (min-width: 768px) {
  .jumbotron {
    justify-content: center;
    height: 125vh;
    padding: 0 120px;
  }

  .menu .menubar ul {
    display: flex;
    position: relative;
    right: 0;
    top: 0;
    flex-direction: row;
    width: 100%;
    height: 15px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(0%);
    transition: none;
    opacity: 1;
  }

  .menu-toggle {
    display: none;
  }

  .menubar a{
    color: #E6EDF3;
    font-weight: 400;
  }
  
  .menubar .button {
    color: #274696;
    background-color: #F9C717;
    font-weight: 500;
  }

  .header {
    grid-template-areas: 
      'content image';
    margin-top: 0px;
  }

  .heroContent h1 {
    font-size: 54px;
  }

  .heroContent h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .heroImage img {
    width: auto;
  }

  /* Services */
  .services {
    margin-top: -180px;
  }

  .services h2 {
    font-size: 38px;
  }

  .servicesContent h5 {
    font-size: 24px;
  }

  .servicesContent {
    grid-template-areas: 
    'service1 service2 service3';
  }

  /* Portfolio */
  .portfolio {
    margin-top: -100px;
    padding-top: 200px;
  }

  .portfolioContent {
    grid-template-areas: 
    'card1 card2 card3';
    margin: 0 100px;
    margin-bottom: 26px;
  }

  .portfolio h2 {
    font-size: 38px;
  }

  .topText h4 {
    font-size: 21px;
  }

  .card .image {
    height: 220px;
  }
  
  .card .bottom {
    font-size: 16px;
  }

  /* CTA */
  .CTAContent {
    flex-direction: row;
    text-align: left;
    place-items: center;
    padding: 32px;
  }

  .CTA h2 {
    width: 533px;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 32px;
  }

  .CTA .button {
    font-size: 18px;
    font-weight: 500;
  }

  /* Footer */
  .footer {
    margin-top: -70px;
  }

  .footer .shortcut {
    margin-top: 120px;
  }

  .footer .shortcut a {
    margin: 0 16px;
    font-size: 16px;
    font-weight: 500;
  }

  .footer .socMedia img {
    width: 40px;
    margin: 8px;
    margin-top: 32px;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  
  .footer .copyright {
    font-size: 12px;
    padding: 16px;
  }

  
  .button {
    font-size: 16px;
  }
}