* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

.jumbotron {
  background-color: #275996;
  height: 125vh;
  color: #E6EDF3;
  justify-content: center;
  padding: 0 120px;
  padding-top: 32px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  gap: 5px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
}



.button {
  text-decoration: none;
  background-color: #F9C717;
  color: #274696;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 600;
}
